.Options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

.Options .SubTitle {
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 20%;
  color: white;
}

@media (max-width: 700px) {
  .Options {
    width: 100%;
  }

  .Options .SubTitle {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 8%;
  }
}