@import url('https://fonts.googleapis.com/css?family=Jua');

.App {
  height: 100%;
  text-align: center;
  font-family: 'Jua', sans-serif;
}

.App .Submit{
  height: 40px;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
}
